$full-width: 950;

@mixin main($width){
    margin: auto;
    max-width: emCalc($width);
}

body{
  background-color: $white;
}

#outer{
  // @include single-box-shadow($gray, 0, 10px, 2em);
  @include main($full-width);
}

#content{
  padding: 1em;
  background-color: $white;

}

.bordered-panel{
    @include thin_border;
    padding: 1em;
    margin-bottom: emCalc(30);
    background-color: $light-gray;

    table{
        width: 100%;
    }
}

.circle{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
}

.services-small{
  margin-top: emCalc(50);
  margin-bottom: emCalc(50);
}

