@import "elements/borders";
@import "compass";

@mixin main($width){
    margin: auto;
    max-width: emCalc($width);
}

.bordered-panel{
    @include thin_border;
    padding: 1em;
    margin-bottom: emCalc(30);
    background-color: $light-gray;
}

.circle{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #000;
}


