#banner-wrapper{
  margin-bottom: 1em;
}

#banner{
  $banner-height: emCalc(200);
  height: $banner-height;

  .columns{
    padding: 0;
  }

  .logo{
    display: block;
    height: $banner-height;
    
    background-position: center;
    background-repeat: no-repeat;
    background-image: image-url('logo.jpg');

    background-size: contain;
  }

  .page-image{
    position: relative;
    background-color: $crimson;
    @include box-sizing(border-box);
    height: $banner-height;
    overflow: hidden;

    img{
      position: relative;
      @media #{$large-up} {
        top: -30%;
      }
      width: 100%;
    }

    .tagline{
      position: absolute;
      height: $banner-height;
      display: table;
      padding: 1em;
      color: $white;
      font-style: italic;
    }

    p{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

}

.logo-tagline{
  padding: 1.0em;
  color: $white;
  background-color: $crimson;
  text-align: right;
  font-style: italic;
}