.captioned-circle{
    margin-bottom: emCalc(20);
    .circle{
        margin: auto;
    }
    .caption{
        padding-top: 0.5em;
        text-align: center;
    }
}

.slider{
    li{
        vertical-align: middle;
        height: emCalc(350);
        overflow: hidden;
    }

    img{
        position: relative;
        top: -50%;
        width: 100%;
        vertical-align: middle;
    }
}