// Main Nav Styles

#nav-outer{
  background-color: $dark-gray;
  color: $white;
  nav{
    @include main($full-width);

    .name{
      width: emCalc(601);
      height: emCalc(195);
    }
  }
}

#page-nav{
  .columns{
    padding: 0;
  }

  .title{

  }
  .description{

  }

  .sections{
    a{
      color: $black;
    }

    li{
      @media #{$small-only}{
        text-align: left;
      }
      text-align: right;
      font-weight: bold;
      list-style: none;
    }
  }
}