// Main Nav Styles

#nav-outer{
  background-color: $dark-gray;
  color: $white;
  nav{
    @include main($full-width);

    .name{
      width: emCalc(601);
      height: emCalc(195);
    }
  }
}

#banner-wrapper{
  margin-bottom: 1em;
}

#banner{
  $banner-height: emCalc(200);
  height: $banner-height;

  .columns{
    padding: 0;
  }

  .logo{
    display: block;
    height: $banner-height;
    
    background-position: center;
    background-repeat: no-repeat;
    background-image: image-url('logo.jpg');

    background-size: contain;
  }

  .page-image{
    @include box-sizing(border-box);
    height: $banner-height;
    overflow: hidden;

    img{
      position: relative;
      top: -50%;
      width: 100%;
      vertical-align: middle;
    }
  }

}



.logo-tagline{
  padding: 1.0em;
  color: $white;
  background-color: $crimson;
  text-align: right;
  font-style: italic;
}