// Main Nav Styles

#nav-outer{
  background-color: $dark-gray;
  color: $white;
  nav{
    @include main($full-width);

    .name{
      width: emCalc(601);
      height: emCalc(195);
    }
  }
}

#logo{
  padding: 1em;
  color: $white;
  height: emCalc(150);
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-image: image-url('logo_long.png');
  background-size: contain;

  h1{
    color: $white;
  }
}

.logo-tagline{
  padding: 1.0em;
  color: $white;
  background-color: $crimson;
  text-align: right;
  font-style: italic;
}