#about-page
    = render "banner"

    #page-nav.row
        .description.medium-7.columns
            %h1.title.red ABOUT
        .sections.medium-4.medium-offset-1.columns
            %h2.red-strong.show-for-small-only
                Sections
            %ul
                %li
                    %a{href: "#page-vision"}
                        Mission & Vision
                %li
                    %a{href: "#page-founder"}
                        Founder Bree Koziara
                %li
                    %a{href: "#page-testimonials"}
                        Testimonials

    .row
        .panel-title#page-vision
            %h2.red-strong Mission & Vision
        .bordered-panel.large-12.columns                
            %p.normal
                Academic StratEDGEy empowers students to achieve their goals through strategic college planning and resume building. We reject a one-size-fits-all approach to college and career counseling. Instead, we believe tailored services and expert guidance give applicants an edge. By helping individuals recognize, develop, and clearly communicate the attributes that will make them stand out in a crowded application pool, we diminish stress and position students for success. 
            
            %p.normal
                While the application process can be difficult and anxiety invoking, it can also provide a wonderful experience of self-discovery. We envision a world in which well-guided individuals make strategic decisions about their future. In pursuing their passions and being thoughtful about their academic and extracurricular choices, these applicants will find their fit and be rewarded for their efforts.

    .row
        .panel-title#page-founder
            %h2.red-strong Bree Koziara, Ed.M. Harvard University
            %span
                %strong
                    Founder/President Academic StratEDGEy
        .bordered-panel.large-12.columns
            .bree-photo
                =image_tag 'bree.jpg'

            %p.normal
                Bree brings a unique and innovative approach to college counseling and resume building. Bree is an independent college admissions counselor and academic consultant based in Newport Beach, California. She holds a B.A. in Communication (Summa Cum Laude) from the University of Southern California and an Ed.M. in Higher Education from Harvard University.
            %p.normal
                Bree has effectively married her work in the private sector with her background in education and passion for youth development. At USC, she founded the Dean’s Student Association for Innovation at Annenberg and served as President of the International Association for Business Communicators. She also learned the ropes of marketing and sales at top PR firm, Rogers & Cowan and Fortune 500 Company, Altria. Upon graduation, she gained intensive research and project management experience at Gibson, Dunn & Crutcher, LLC before pursuing her long-time passion – education.
            %p.normal
                In addition to tutoring since 2003, Bree's studies at Harvard and work as a career advisor at MIT (Massachusetts Institute of Technology) provide her with the most current perspective on college admissions and career development. The admissions game has changed in the past two decades and Bree offers students and parents the competitive advantage they are looking for. 

    .row
        .panel-title#page-testimonials
            %h2.red-strong Testimonials
        .bordered-panel.large-12.columns 
            %p.normal 
                Sample test. 
    /.row
    /    .panel-title#page-testimonials
    /          %h2.red-strong
    /              Testimonials
    /     .bordered-panel
    /         .testimonial
    /             %h3.title John D.
    /             %p.description
    /                 PLACE HOLDER TEXT FROM STUDENT OR PARENT
    /         .testimonial
    /             %h3.title John D.
    /             %p.description
    /                 PLACE HOLDER TEXT FROM STUDENT OR PARENT
    /         .testimonial
    /             %h3.title John D.
    /             %p.description
    /                 PLACE HOLDER TEXT FROM STUDENT OR PARENT
    /         .testimonial
    /             %h3.title John D.
    /             %p.description
    /                 PLACE HOLDER TEXT FROM STUDENT OR PARENT
