#about-page
    %h1.red ABOUT ACADEMIC STRATEDGEY
    .row
        .bordered-panel.large-12.columns
            .panel-title
                %h2.red-strong Mission & Vision
            %p.normal
                ACADEMIC STRATEDGEY demystifies the application process through our strategic and personalized approach to college planning and student development. By equipping students and parents with the information, direction, and tools they need to succeed, we take stress out of the equation and position applicants for success. 
            
            %p.normal
                While applying to school and leadership opportunities can be difficult and anxiety-invoking, it can also provide a wonderful experience of self-discovery. We envision a world in which applicants are rewarded for their knowledge of the admissions process. One in which students align their interests and activities to demonstrate their passion and push themselves to excel inside and outside of the classroom. Ultimately, these thoughtful, well-guided applicants will find their ideal school and be rewarded for their efforts; improving their community and themselves along the way. 

    .row
        .bordered-panel.large-12.columns
            .panel-title
                %h2.red-strong Bree Koziara, Ed.M. Harvard University
                %span
                    %strong
                        Founder/President ACADEMIC STRATEDGEY
                .bree-photo
                    =image_tag 'bree.jpg'

            %p.normal
                Bree brings a unique and innovative approach to college counseling and resume building. Bree is an independent college admissions counselor and academic consultant based in Orange County, California. She holds a B.A. in Communication (Summa Cum Laude) from the University of Southern California and an Ed.M. in Higher Education from Harvard University. 
            %p.normal
                Bree has effectively married her work in the private sector with her background in education and passion for youth development. At USC, she founded the Dean’s Student Association for Innovation at Annenberg and served as President of the International Association for Business Communicators. She also learned the ropes of marketing and sales at top PR firm, Rogers & Cowan and Fortune 500 Company, Altria. Upon graduation, she gained intensive research and project management experience at Gibson, Dunn & Crutcher, LLC before pursuing her long-time passion – education. 
            %p.normal
                In addition to tutoring since 2003, Bree's studies at Harvard and work as a career advisor at MIT (Massachusetts Institute of Technology) provide her with a special skillset and the most current perspective on college admissions and career development. The admissions game has changed in the past two decades and Bree offers students and families the competitive edge they are looking for. Bree’s fresh approach and her easy style with teens motivates them and frequently enhances the parent/child relationship. With Bree’s help, students will develop and execute a strategic game plan that maximizes their chances of admissions success.

