= render "banner"

#page-nav.row
    %h1.title.red COLLEGE COUNSELING SERVICES
    %p.description.medium-7.columns
        Although many college counselors demand expensive annual contracts, Academic StratEDGEy offers targeted group seminars to keep you informed, organized, and on track. Through this innovative approach, we equip students and parents with the information and tools they need to successfully navigate the college admission process.

    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-packages"}
                    Grade-level Overviews
            %li
                %a{href: "#page-workshops"}
                    College Planning Seminars
            
.row
    .panel-title#page-packages
        %h2.red-strong
            Grade-level Overviews
    .bordered-panel

        %p
            
            The following grade-level overviews shed light on Bree Koziara's approach to college planning. 
        .service-item
            %h3.title
                Freshman
            .tagline
                Get off to the right start and be proud of your transcript
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Process orientation
                            %li
                                Getting parent and student on the same page
                            %li
                                Candidate evaluation: hard data vs. soft data
                            %li
                                Initial goal setting
                            %li
                                Early resume preparation
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                High school graduation requirements
                            %li
                                Course recommendations
                            %li
                                Study skills
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & character development
                        %ul
                            %li
                                Activities and club selection
                            %li
                                Extracurriculars and community service discussion and recommendations
                            %li
                                Summer enrichment suggestions

        .service-item
            %h3.title
                Sophomore
            .tagline
                Grow and challenge yourself inside and outside of the classroom
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Establishing a strategic game plan
                            %li
                                Specific goal setting
                            %li
                                Introduction to college & university tracking
                            %li
                                Standardized testing overview and personal test timeline
                            %li
                                Working resume development
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Transcript evaluation
                            %li
                                Educational plan and course recommendations
                            %li
                                Academic rigor overview
                            %li
                                Standardized testing introductory advice
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Activities and club selection
                            %li
                                Extracurriculars and community service discussion and recommendations
                            %li
                                Summer enrichment suggestions

        .service-item
            %h3.title
                Junior
            .tagline
                Fill in the gaps and build on your accomplishments
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                College admissions expectations
                            %li
                                College selection guidance
                            %li
                                Advanced resume preparation
                            %li
                                Goal setting: Short-term and long-term
                            %li
                                The college tour: College visitation information
                            %li
                                Interview Advice and Mock Preparation
                            %li
                                Athletic resume preparation and recruiting information, if applicable
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Transcript evaluation
                            %li
                                Course recommendations
                            %li
                                High school and college requirements
                            %li
                                SAT/ACT/Subject Test selection
                            %li
                                Standardized testing: Detailed advice and custom timeline
                            %li
                                Test prep recommendations
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & character development
                        %ul
                            %li
                                Setting yourself apart: How to take your leadership and service to the next level
                            %li
                                Summer enrichment suggestions
                            %li
                                Letters of recommendation: Understanding the strategic importance involved
                            %li
                                Resume development
        .service-item
            %h3.title
                Senior
            .tagline
                Tie it all togehter and showcase your accomplishments
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Assistance with all aspects of college applications
                            %li
                                Getting organized: Establishing a filing system for college information
                            %li
                                Time management timeline
                            %li
                                College visitation information
                            %li
                                Interview tips and preparation
                            %li
                                Final online viewing of all applications completed by December 15th
                            %li
                                Decision: Consultation for final selection 
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Final transcript evaluation
                            %li
                                Final course recommendations
                            %li
                                High school graduation and college requirements
                            %li
                                Tutor referral
                            %li
                                Further test suggestions, if needed
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Letters of recommendation: Choosing your referees, making sure your letters are high impact
                            %li
                                Resume preparation
                            %li
                                Preparation of teacher/counselor letter of recommendation
                            %li
                                Completion and organization of school counselor packets
                            %li
                                NCAA athletic information and requirements, if applicable

.row
    .panel-title#page-workshops
        %h2.red-strong
            College Planning Seminars
    .bordered-panel


        %p
            No matter where you are in the process, a targeted group seminar can provide the direction and tools you need to move forward. Please e-mail stratedgey@gmail.com for dates and information.

        .service-item
            %h3.title
                Intro to College Planning
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                What are colleges looking for?
                            %li
                                Developing an acadmeic timing: Graduation requirements and course selection
                            %li
                                Candidate development: Academic performance and leadership & character development
                            %li
                                The importance of tracking your progress
                            %li
                                Introduction to standardized testing 
                            %li
                                Choosing the right college


        /.service-item
        /    %h3.title
        /        Junior Jumpstart
        /    .description.row
        /        .margined.large-12.columns
        /            .bordered-panel
        /                %ul
        /                    %li
        /                        Overview of the critical junior year
        /                    %li
        /                        Course selection
        /                    %li
        /                        Standardized testing
        /                    %li
        /                        Resume building
        /                    %li
        /                        Summer enrichment opportunities
        /                    %li
        /                        School selection and college visits

        /.service-item
        /    %h3.title
        /        Application Workshops: What to Expect & How to Prepare
        /    .description.row
        /        .margined.large-12.columns
        /            .bordered-panel
        /                %p
        /                    ACADEMIC STRATEDGEY will work you through the following applications in order to provide you with a thorough understanding of each before you apply
        /                %ul
        /                    %li
        /                        UC Application
        /                    %li
        /                        The Common App

        .service-item
            %h3.title
                Personal Statement Writing: Making a Strong Impression
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Prompts
                            %li
                                Getting started: Brainstorming, drafting, and editing
                            %li
                                Goal, structure, and content
                            %li
                                Typical essay types: What works, what does not
