= render "banner"

#page-nav.row
    %h1.title.red COLLEGE COUNSELING SERVICES
    %p.description.medium-7.columns
        Whether you are aiming for the Ivy League, a UC, or a state school, ACADEMIC STRATEDGEY systematically breaks the college planning process into manageable phases; keeping students informed, organized, and ahead of the pack. 
    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-packages"}
                    Grade-level Packages
            %li
                %a{href: "#page-workshops"}
                    Targeted Group Workshops
            %li
                %a{href: "#page-hourly"}
                    Hourly a la Carte Services
.row
    .panel-title#page-packages
        %h2.red-strong
            Grade-level Packages
    .bordered-panel

        %p
            Based on a one year contract, grade-level package enable you to develop a four-year academic plan and receive unlimited guidance and support throughout your college admission journey.
        .service-item
            %h3.title
                Freshman
            .tagline
                Get off to the right start and be proud of your transcript
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Process Orientation
                            %li
                                Getting parent and student on the same page
                            %li
                                Candidate Evaluation: Hard Data vs. Soft Data
                            %li
                                Initial Goal Setting
                            %li
                                Early Resume Preparation
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                High School Graduation Requirements
                            %li
                                Course Recommendations
                            %li
                                Study Skills
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Activities and Club Selection
                            %li
                                Extracurriculars and Community Service Discussion and Recommendations
                            %li
                                Summer Enrichment Suggestions

        .service-item
            %h3.title
                Sophomore
            .tagline
                Grow and challenge yourself inside and outside of the classroom
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Establishing a Strategic Game Plan
                            %li
                                Specific Goal Setting
                            %li
                                Introduction to College & University Tracking
                            %li
                                Standardized Testing Overview and Personal Test Timeline
                            %li
                                Working Resume Development
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Transcript Evaluation
                            %li
                                Educational Plan and Course Recommendations
                            %li
                                Academic Rigor Overview
                            %li
                                Standardized Testing Introductory Advice
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Activities and Club Selection
                            %li
                                Extracurriculars and Community Service Discussion and Recommendations
                            %li
                                Summer Enrichment Suggestions

        .service-item
            %h3.title
                Junior
            .tagline
                Fill in the gaps and build on your accomplishments
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                College Admissions Expectations
                            %li
                                College Selection Guidance
                            %li
                                Advanced Resume Preparation
                            %li
                                Goal Setting: Short-Term and Long-Term
                            %li
                                The College Tour: College Visitation Information
                            %li
                                Interview Advice and Mock Preparation
                            %li
                                Athletic Resume Preparation and Recruiting Information, if applicable
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Transcript Evaluation
                            %li
                                Course Recommendations
                            %li
                                High School and College Requirements
                            %li
                                SAT/ACT/Subject Test Selection
                            %li
                                Standardized Testing: Detailed Advice and Custom Timeline
                            %li
                                Test Prep Recommendations
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Setting Yourself Apart: How to Take Your Leadership and Service to the Next Level
                            %li
                                Summer Enrichment Suggestions
                            %li
                                Letters of Recommendation: Understanding the strategic importance involved
                            %li
                                Resume Development
        .service-item
            %h3.title
                Senior
            .tagline
                Pull it all togehter and showcase your accomplishments
            .description.row.even-columns
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Focus
                        %ul
                            %li
                                Assitance with all Aspects of College Applications
                            %li
                                Getting Organized: Establishing a Filing System for College Information
                            %li
                                Time Management Timeline
                            %li
                                College Visitation Information
                            %li
                                Interview Tips and Preparation
                            %li
                                Final Online Viewing of All applications completed by December 15th
                            %li
                                Decision: Consultation for Final Selection 
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Academics
                        %ul
                            %li
                                Final Transcript Evaluation
                            %li
                                Final Course Recommendations
                            %li
                                High School Graduation and College Requirements
                            %li
                                Tutor Referral
                            %li
                                Further Test Suggestions, if needed
                .margined.large-4.columns
                    .bordered-panel.even-column
                        %strong
                            Leadership & Character Development
                        %ul
                            %li
                                Letters of Recommendation: Choosing your referees, making sure your letters are high impact
                            %li
                                Resume Preparation
                            %li
                                Preparation of Teacher/Counselor Letter of Recommendation
                            %li
                                Completion and Organization of School Counselor Packets
                            %li
                                NCAA Athletic information and requirements, if applicable

.row
    .panel-title#page-workshops
        %h2.red-strong
            College Planning Group Workshops
    .bordered-panel


        %p
            No matter where you are in the process, a targeted group workshop can provide the direction and tools you need to move forward

        .service-item
            %h3.title
                Freshman/Sophomore: Intro to College Planning
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Graduation requirements and choosing your courses
                            %li
                                Candidate evaluation: What colleges are looking for
                            %li
                                Candidate development
                            %li
                                Tracking your progress
                            %li
                                Standardized testing early preparation
                            %li
                                Choosing the right college


        .service-item
            %h3.title
                Junior Jumpstart: Hit the Ground Running
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Overview of the critical junior year
                            %li
                                Course selection
                            %li
                                Standardized testing
                            %li
                                Resume building
                            %li
                                Summer enrichment opportunities
                            %li
                                How to make college choices
                            %li
                                College Visits

        .service-item
            %h3.title
                Application Workshops: What to Expect & How to Prepare
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %p
                            ACADEMIC STRATEDGEY will work you through the following applications in order to provide you with a thorough understanding of each before you apply
                        %ul
                            %li
                                UC Application
                            %li
                                Cal State Application
                            %li
                                The Common App

        .service-item
            %h3.title
                Personal Statement Writing: Making a Strong Impression
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Getting started
                            %li
                                Goal, structure & content
                            %li
                                Brainstorming, drafting, and editing
                            %li
                                Typical essay types: What works, what does not
                            %li
                                Dos & dont's: How to avoid common pitfalls and cliche essays


.row
    .panel-title#page-hourly
        %h2.red-strong
            Hourly A la Carte Services
    .bordered-panel
        %p
            If you are interested in one-to-one college counseling sessions without a year-long contract, hourly "a la carte" services enable you to target one or two areas of the college admissions process at a time.

        .service-item
            %h3.title
                Here is a sampling of the hourly a la carte services offered:
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Academic planning
                            %li
                                Evaluation of extracurricular activities and recommendations
                            %li
                                Search for summer enrichment opportunities or internships
                            %li
                                Resume creation or review
                            %li
                                Testing timeline & strategies
                            %li
                                Essay brainstorming and editing
                            %li
                                Assitance with school selection or assessment of selected colleges
                            %li
                                Specialized college major research
                            %li
                                Obtaining high impact letters of recommendation
                            %li
                                Campus tour and iterview preparation
                            %li
                                Application review