#index-page
    = render 'banner'
    %ul{'class' => 'slider', 'data-orbit'=> ''}
        %li
            =image_tag 'pages/About.jpg', alt: 'slide'
            .orbit-caption
                Slide 1
        %li
            =image_tag 'pages/Services.jpg'
            .orbit-caption
                Slide 2
        %li
            =image_tag 'pages/counselingServices.jpg'
            .orbit-caption
                Slide 3
        %li
            =image_tag 'pages/resumesServices.jpg'
            .orbit-caption
                Slide 4
        %li
            =image_tag 'pages/tutoringServices.jpg'
            .orbit-caption
                Slide 5
        %li
            =image_tag 'pages/Resources.jpg'
            .orbit-caption
                Slide 6


    %p.normal
        %span.red-strong
            ACADEMIC STRATEDGEY offers an insider's perspective on the college admissions and student development process.
        The road to college is long and it begins well before students fill out their applications. Increased selectivity and higher admissions standards have made gaining acceptance more complex and competitive than ever before. 
     
    %p.normal
        The problem: students and parents also face a serious lack of guidance and reliable information, which can leave even the most dedicated among them feeling overwhelmed. That’s where ACADEMIC STRATEDGEY can help.
        %span.red
            Simply knowing what to expect, how to take action, and how to present yourself can significantly diminish stress or uncertainty, while increasing your chances of admission
