#resources-page
    %h1.red RESOURCES

    %p
        Use the following links to help you get started in the college admissions process:
    .bordered-panel
        .panel-title
            %h2.red-strong
                College Resources Short List
        
        %h3.red
            College Search
        .row
            .margined.large-12.columns
                %table
                    %tr
                        %td
                            College Board
                        %td
                            %a{href: 'http://www.collegeboard.org'}
                                www.collegeboard.org
                    %tr
                        %td
                            U.S. News & World Report
                        %td
                            %a{href: 'http://www.usnews.com'}
                                www.usnews.com
                    %tr
                        %td
                            Princeton Review
                        %td
                            %a{href: 'http://www.princetonreview.com'}
                                www.princetonreview.com
                    %tr
                        %td
                            Peterson's
                        %td
                            %a{href: 'http://www.petersons.com'}
                                www.petersons.com
                    %tr
                        %td
                            College Prowler
                        %td
                            %a{href: 'http://www.collegeprowler.com'}
                                www.collegeprowler.com

        %h3.red
            Standardized Testing
        .row
            .margined.large-12.columns
                %table
                    %tr
                        %td
                            ACT
                        %td
                            %a{href: 'http://www.act.org'}
                                www.act.org
                    %tr
                        %td
                            SAT & SAT Subject Tests
                        %td
                            %a{href: 'http://www.sat.collegeboard.org/home'}
                                www.sat.collegeboard.org/home
                    %tr
                        %td
                            AP
                        %td
                            %a{href: 'http://www.apcentral.collegeborad.com/home'}
                                www.apcentral.collegeborad.com/home
                    %tr
                        %td
                            TOEFL
                        %td
                            %a{href: 'http://www.ets.org/toefl/'}
                                www.ets.org/toefl/
                    %tr
                        %td
                            IELTS
                        %td
                            %a{href: 'http://www.ielts.org'}
                                www.ielts.org
                    %tr
                        %td
                            Princeton Review
                        %td
                            %a{href: 'http://www.princetonreview.com'}
                                www.princetonreview.com
                    %tr
                        %td
                            Kaplan
                        %td
                            %a{href: 'http://www.kaplan.com'}
                                www.kaplan.com

        %h3.red
            Scholarships & Financial Aid
        .row
            .margined.large-12.columns
                %table
                    %tr
                        %td
                            Scholarships & Financial Aid U.S. Department of Education
                        %td
                            %a{href: 'http://www.studentaid.ed.gov'}
                                www.studentaid.ed.gov
                    %tr
                        %td
                            FAFSA
                        %td
                            %a{href: 'http://www.fafsa.ed.gov'}
                                www.fafsa.ed.gov
                    %tr
                        %td
                            Fastweb
                        %td
                            %a{href: 'http://www.fastweb.org'}
                                www.fastweb.org
                    %tr
                        %td
                            FinAid
                        %td
                            %a{href: 'http://www.finaid.org'}
                                www.finaid.org
                    %tr
                        %td
                            Zinch
                        %td
                            %a{href: 'http://www.zinch.com'}
                                www.zinch.com
                    %tr
                        %td
                            Scholarships.com
                        %td
                            %a{href: 'http://www.scholarships.com'}
                                www.scholarships.com
                    %tr
                        %td
                            Cappex
                        %td
                            %a{href: 'www.cappex.com'}
                                www.cappex.com
                    %tr
                        %td
                            College Net
                        %td
                            %a{href: 'http://www.collegenet.com'}
                                www.collegenet.com
        %h3.red
            College Athletics
        .row
            .margined.large-12.columns
                %table
                    %tr
                        %td
                            NCAA
                        %td
                            %a{href: 'http://www.ncaa.com'}
                                www.ncaa.com
