= render "banner"
#page-nav.row
    %h1.red.title SKILL-BUILDING WORKSHOPS
    %p.description.medium-7.columns
        Academic StratEDGEy's skill-building workshops empower students to develop the academic and life skills they'll need to excel in middle school, high school, and beyond.   
    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-resume"}
                    Writing Workshops
            %li
                %a{href: "#page-experience"}
                    Book Reviews
.row
    .panel-title#page-resume
        %h2.red-strong
            Writing Workshops
    .bordered-panel
        %p
            Strong writing skills are critical to success. Not only does writing equip students with the communication and critical thinking skills they will need to excel in middle school, high school, college, and beyond, writing is the primary basis upon which their learning and intellect will be judged.  
        %p
            Although students are required to write in nearly every one of their classes and their teachers expect them to know how to write well, students are struggling with writing. According to a recent Department of Education survey, 54% of eighth-graders and 52% of twelfth-graders performed at the Basic (lowest) level in writing. Only 3% of eighth- and twelfth-graders performed at the Advanced (highest) level (NCES).
        %p
            Parents, educators, and policymakers agree that writing is important; yet there is a difference between setting standards or defining expectations and actually teaching students how to write. 
        %p
            Bree Koziara, Ed.M. Harvard University and Founder of Academic StratEDGEy will teach you how to become a better writer through a series of skill-building workshops that make writing formulaic. 


        .service-item
            %h3.title
                Middle School Writing Workshop
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Introduction to ‘Five Paragraph Essay’ writing – basic structure and content. 
                            %li
                                How to brainstorm and pre-write.
                            %li
                                Writing: Introductions, thesis statements, body paragraphs, conclusions.
                            %li
                                Using active voice, evidence, and transitions.
                            
        .service-item
            %h3.title
                High School Writing Workshop
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                ‘Five Paragraph Essay’ writing – structure and content.
                            %li
                                Annotating, brainstorming, and pre-writing. 
                            %li
                                Writing: Advanced introductions, thesis statements, body paragraphs, and conclusions.
                            %li
                                The importance of solid evidence and thoughtful analysis. The ‘quote sandwich.’
                            %li
                                Introduction to MLA Format.

        .service-item
            %h3.title
                Standardized Testing Writing (SAT, ACT, AP History)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                What to expect and how to prepare.
                            %li
                                How are you being evaluated?
                            %li
                                Brainstorming and pre-writing.
                            %li
                                Structure and content.
                            %li
                                Quality evidence and analysis.
                            %li
                                Note: Bree scored 12/12 and 750/800 on the Writing portion of the SAT. She also passed every AP Exam she took, typically with a 5.
                
        .service-item
            %h3.title
                College-level Writing: Making the Transition from High School to College (Series of Courses)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Moving beyond the 'Five Paragraph Essay.'
                            %li
                                Understanding the writing process.
                            %li
                                The research paper.
                            %li
                                Using and citing sources.
                            %li
                                Avoiding plagiarism.
                            %li
                                Grammer & style.
                            %li
                                Discipline-specific writing.

.row
    .panel-title#page-resume
        %h2.red-strong
            Book Reviews
    .bordered-panel
        %p
            Every August, Bree offers a 1 hour group lesson on the assigned reading book for grades 9 and 10. 40/student. By reviewing the context, plot, characters, etc., Bree helps students make sense of their required summer reading book so they can ace their EB (Electronic Bookshelf) test and start their academic year off strong.

        .service-item
            %h3.title
                Assigned Summer Reading: Book Reviews by Grade
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Anthem - Ayn Rand (9th grade)
                            %li
                                1984 - George Orwell (10th grade)
