= render "banner"
#page-nav.row
    %h1.red.title TUTORING
    %p.description.medium-7.columns
        academic atratEDGEy provides high quality tutoring for middle and high school students.
    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-multi"}
                    Tutoring

.row
    .panel-title#page-multi
        %h2.red-strong
            Tutoring
    .bordered-panel
        %p
            While colleges evaluate applicants' extracurricular activities, students' Grade Point Average (GPA) and standardized test scores play an even more important role in the admission process. This means academic performance should be students' top priority throughout middle and high school. Sometimes this is easier said than done.
        %p
            Expert instruction and a favorable learning environment can help students improve their performance. Through consistent hourly lessons, we focus on academic improvement and confidence building. The goal: to provide students with the information and guidance they need to excel academically while reducing their stress level. 

        .service-item
            %h3.title
                Tutoring: Formats
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Group
                            %li
                                Packet-Only
                            %li
                                Semi-private
                            %li
                                Private

        .service-item
            %h3.title
                Tutoring: Cancellation Policy
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                First absence no make up: no charge
                            %li
                                Second absence no make up: half-charge
                            %li
                                After that: full-charge
                            %li
                                During High Season, half-charge rule applies to first offense; full-charge after that.


        .service-item
            %h3.title
                Additional Information
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Groups are based on subject and availability. Space is limited.
                            %li
                                Groups fill up on a first-come, first-served basis.
                            %li
                                Weekly groups are designed to provide ongoing support throughout the school year; groups are not designed for drop-ins.
                            %li
                                Private tutoring, skill-building workshops, and AP Exam review programs are open to students from all schools and school districts. Weekly groups align with NMUSD (Newport-Mesa Unified School District) textbooks and curriculum. 
                            %li
                                As AP (Advanced Placement) courses, AP World History and AP United States History are considered college-level courses. While the ‘Advanced’ designation signals rigor, a GPA boost, and the possibility of earning college credit, it also means more work, greater responsibility, and higher expectations. Many students look back on their AP History courses as the most difficult courses they took in high school, which makes putting in the time and effort all the more important.

.row
    .panel-title#page-multi
        %h2.red-strong
            academic stratEDGEy: Subjects Offered
    .bordered-panel
        %p
            Bree Koziara, Ed.M. Harvard University and Founder of academic stratEDGEy has a passion for student development and over ten years of tutoring experience. Bree loves history and received straight As and top marks in every subject she instructs. Bree teaches 8th grade US History, AP Human Geography, grade AP World History, and AP United States History, offering AP History Summer Boot Camps, weekly group tutoring sessions, and structured AP Exam review programs.

        .service-item
            %h3.title
                U.S. History/Geography (8th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Weekly U.S. History lessons (1 hour per week)
                            %li
                                Teach course fundamentals and lecture on chapter-based content. Provide take-home study packet.

        .service-item
            %h3.title
                AP Human Geography (9th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                AP Human Geography Summmer Tutoring in August. Know what to expect, master your summer work, and start the year off strong. 
                            %li
                                Weekly AP Human Geography lessons (1 hour per week)
                            %li
                                FRQ writing workshops throughout the year. Sample prompts and essays provided.  
                            %li
                                AP Human Geography Exam: structured review program.

        .service-item
            %h3.title
                AP World History (10th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                AP World History Summmer Boot Camp in August. Know what to expect, master your summer work, and start the year off strong.
                            %li
                                Weekly AP World History group lessons (1 hour per week)
                            %li
                                FRQ writing workshops throughout the year. Sample prompts and essays provided.  
                            %li
                                AP World History Exam: structured review program.

        .service-item
            %h3.title
                AP United States History (11th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                APUSH Summer Tutoring in August. Know what to expect, master your summer work, and start the year off strong.
                            %li
                                Weekly APUSH group lessons (1 hour per week)

                            %li
                                Trimester Reviews.
                            %li
                                FRQ writing workshops throughout the year. Sample prompts and essays provided.
                            %li
                                APUSH Exam: structured review program.                            
