= render "banner"
#page-nav.row
    %h1.red.title TUTORING & WRITING
    %p.description.medium-7.columns
        Academic StratEDGEy provides high quality, results-oriented tutoring and skill-building workshops for middle and high school students.
    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-multi"}
                    Multi-subject Tutoring
            %li
                %a{href: "#page-workshops"}
                    Writing Workshops

.row
    .panel-title#page-multi
        %h2.red-strong
            Multi-subject Tutoring
    .bordered-panel
        %p
            Through convenient hourly sessions, we focus on academic improvement and confidence building. The goal: to provide students with the tools and structure they need to excel. Groups, take-home packets, semi-privates, and privates are available based on subject matter. Cost per hour varies based on format. Groups start at $40 per student per hour. 

        .service-item
            %h3.title
                History
            %ul
                %li
                    US History/Geography (8th Grade)
                %li
                    AP World History (10th Grade)
                %li
                    AP US History (11th grade) * Starting August 2014 for 2014-15 academic year
            %p
                Referrals are available for the following subjects:

            %h3.title
                Math
            %ul
                %li
                    General Math, Pre-Algebra
                %li
                    Algebra I
                %li
                    Geometry
                %li
                    SAT Math Prep
                %li
                    Algebra II
                %li
                    Trig / Pre-Calculus
                %li
                    Calculus, AP Calculus, College Calculus I, II & III
                %li
                    Statistics
            %h3.title
                Science
            %ul
                %li
                    7th Grade Science
                %li
                    Physics, AP Physics
            %p
                Please note: Tutoring services are geared toward Corona del Mar High School's curriculum. AP Exam reviews are open to all schools

    .panel-title#page-workshops
        %h2.red-strong
            Writing Workshop Series
    .bordered-panel
        %p
            Strong writing skills are critical to success. Academic StratEDGEy will teach you how to be a better writer through a series of skill-building workshops that make writing formulaic.

        .service-item
            %h3.title
                High School: Writing Fundamentals
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                The Five Paragraph Essay: Making writing formulaic
                            %li
                                Brainstorming / Prewriting
                            %li
                                The importance of a strong thesis statement and how to write one
                            %li
                                Creating content: How to support you thesis
                            %li
                                Transitions, grammar & style
        .service-item
            %h3.title
                Standardized Testing Writing
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %span
                            SAT, ACT or AP History: DBQ, Comparative Essay, Change Over Time Essay
                        %ul
                            %li
                                What to Expect
                            %li
                                How are you being evaluated?
                            %li
                                How to prepare
                            %li
                                Brainstorming / Prewriting
                            %li
                                Structure and content
                            %li
                                Quality evidence
                            %li
                                Transitions, grammar & style
                        %span
                            Founder Bree Koziara, Ed.M. Harvard University received 12/12 & 750 on the Writing portion of the SAT and 5's on her AP History exams
        .service-item
            %h3.title
                College-level Writing: Making the Transition from High School to College
            .description.row
                .margined.larged-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Moving beyong the Five Paragraph Essay
                            %li
                                Understanding the writing process
                            %li
                                The research paper
                            %li
                                Using and citing sources (MLA, APA, CMS)
                            %li
                                Avoiding Plagiarism
                            %li
                                Grammer & Style
                            %li
                                Discipline-specific writing