= render "banner"
#page-nav.row
    %h1.red.title TUTORING
    %p.description.medium-7.columns
        Academic StratEDGEy provides high quality, results-oriented tutoring and skill-building workshops for middle and high school students.
    .sections.medium-4.medium-offset-1.columns
        %h2.red-strong.show-for-small-only
            Sections
        %ul
            %li
                %a{href: "#page-multi"}
                    Subject-Based Tutoring
/            %li
/                %a{href: "#page-workshops"}
/                    Writing Workshops

.row
    .panel-title#page-multi
        %h2.red-strong
            Subject-Based Tutoring
    .bordered-panel
        %p
            Through convenient hourly sessions, we focus on academic improvement and confidence building. The goal: to provide students with the tools and structure they need to excel. Tutoring comes in many forms, ranging from groups or take-home study packets to semi-privates (pairs) or privates (one-to-one). 

        .service-item
            %h3.title
                Pricing - Tutoring
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                Group: 40 per student/hour
                            %li
                                Packet-Only: 40 per take-home study packet
                            %li
                                Semi-private (two people): 45 per student/hour
                            %li
                                Private (one-to-one): 70 per hour

    .panel-title#page-workshops
        %h2.red-strong
            Academic StratEDGEy: Subjects
    .bordered-panel
        %p
            Bree is passionate about the Humanities and she specializes in history. Academic StratEDGEy offers a structured tutoring program for the following subjects:  

        .service-item
            %h3.title
                US History / Geography (8th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                .
                            %li
                                .

        .service-item
            %h3.title
                AP World History (10th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                .
                            %li
                                .
                            %li
                                .

                           
        .service-item
            %h3.title
                AP U.S. History (11th grade)
            .description.row
                .margined.large-12.columns
                    .bordered-panel
                        %ul
                            %li
                                .
                            %li
                                .
                            %li
                                .
        

        .service-item
            %h3.title
                History
            %ul
                %li
                    US History/Geography (8th Grade)
                %li
                    AP World History (10th Grade)
                %li
                    AP US History (11th grade) * Starting August 2014 for 2014-15 academic year
            %p
                Referrals are available for the following subjects:

            %h3.title
                Math
            %ul
                %li
                    General Math, Pre-Algebra
                %li
                    Algebra I
                %li
                    Geometry
                %li
                    SAT Math Prep
                %li
                    Algebra II
                %li
                    Trig / Pre-Calculus
                %li
                    Calculus, AP Calculus, College Calculus I, II & III
                %li
                    Statistics
            %h3.title
                Science
            %ul
                %li
                    7th Grade Science
                %li
                    Physics, AP Physics
