// Libraries
@import "foundation_and_overrides";
@import "compass";
@import "foundation/components/orbit";

// App Imports
@import "home";

// elements
@import "elements/colors";
@import "elements/containers";
@import "elements/text";

// molecules
@import "molecules/captioned";
@import "molecules/items";

// page specific
@import "pages/index";
@import "pages/about";
@import "pages/services";

// Layout Styles
h2{
  font-size: emCalc(22);
}

// Nav Styles
#nav-outer{
  background-color: $dark-gray;
  color: $white;
  nav{
    @include main(1050);
  }
}

#logo{
  padding: 1em;
  background-color: $crimson;
  color: $white;
  h1{
    color: $white;
  }

  p.tagline{
    text-align: right;
    font-style: italic;
  }
}

#outer{
  @include single-box-shadow($gray, 0, 10px, 2em);
  @include main(1050);
}

#content{
  padding: 1em;

}

#footer{
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  @include main(1050);
  position: relative;
  padding: 1em;
  background-color: $dark-gray;
  color: $white;
  p{
    color: $white;
  }
}
